<section class=" text-center">
  <div class="container">
    <h1 class="jumbotron-heading">About us</h1>
    <p class="lead text-muted">TAP provides a more efficient and effective way of creating a platform where Job Seekers can upload their CVs for access by the Companies that are looking for staff. Companies can also upload job opportunities on this same platform for Job Seekers to access and apply for.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Read more</a>
    </p>
  </div>
</section>
