<div class="container marketing text-justify">
    <h2 class="display-5">Categories</h2>
      <hr>
    <h4>Individual</h4>
      <p>@work online CV completion Qualifications verified Training Confirmed Criminal records verified Country residency verified References verified Previous employment appraisals confirmed Excessive employment job hopping rate Review from current and past employer/s</p>

      <h4>Company</h4>
        <p>@work online company registration form completed in full Size of company verified BBBEE status confirmed Youth employment ratio verified Disabled individual’s employment ratio verified Inspect company’s staff review policies Review from current and past employees</p>
  </div>
