<!-- Header - Tap score -->
<div class="container marketing text-justify">
  <h2 class="display-5">Tap score and rating</h2>
  <hr>
    <p>Because we vet all the information provided by Job Seekers, recruiting employers should not be worried about doing the same process again. All they need to do is contact the Job Seekers for an interview. If the Job Seeker is appointed, there are NO additional costs for TAP </p>
</div>
