<%if user_signed_in?%>
<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <%=link_to root_path, class:"nav-link active" do %>
    <i class="fas fa-tachometer-alt"></i> Dashboard
    <%end%>
    <a class="nav-link" href="/cvs"><i class="fas fa-folder-open"></i> My CV</a>
    <a class="nav-link" href="/documents"><i class="fas fa-folder"></i> My Documents</a>
    <a class="nav-link" href="#"><i class="fas fa-user"></i> My Jobs</a>
    <a class="nav-link" href="#"><i class="fas fa-star-half-alt"></i> My Tap Score</a>
    <a class="nav-link" href="#"><i class="far fa-meh-rolling-eyes"></i> My Reviews</a>
    <a class="nav-link" href="/users/edit"><i class="fas fa-cog"></i> Settings</a>
  </nav>
</div>
<%end%>
