<%if user_signed_in?%>
<div class="nav-scroller bg-white box-shadow">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>
    <a class="nav-link" href="#">Settings</a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#"></a>
    <a class="nav-link" href="#"></a>

  </nav>
</div>
<%end%>
