<div class="shadow-sm p-3 mb-5 bg-success text-light">
  <h4>Steps</h4>
  <table class="table table-sm">
    <tbody>
      <tr>
        <td><strong>1</strong> Create Profile </td>
        <td><i class="fas fa-check-circle"></i></td>
      </tr>
      <tr>
        <td><strong>2</strong> Create CV </td>
        <td><i class="fas fa-check-circle"></i></td>
      </tr>
      
      <tr>
        <td><strong>3</strong> Upload Documents </td>
        <td><i class="text-warning fas fa-window-close"></i></td>
      </tr>
    </tbody>
  </table>
</div>
