<div class="shadow-sm p-3 mb-5 bg-light rounded">
  <p><strong>1</strong> Create Profile <i class="text-success fas fa-check-circle"></i></p>
  <p><strong>2</strong> Create CV <i class="text-success fas fa-check-circle"></i></p>
  <p><strong>3</strong> Upload Documents <i class="text-danger fas fa-check-circle"></i></p>

</div>
