<div class="container-fluid">
  <div class="shadow-none p-3 mb-5 bg-light roundedk">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3><i class="fas fa-cloud-upload-alt"></i> Upload Documents</h3>
        </div>
        <div class="col-md-4">
            <p class="float-right"> <a href="/"> <i class="fa fa-window-close" data-toggle="tooltip" title="Close"> </i></a></p>
        </div>

      </div>
    </div>
  </div>
</div>
